<form role="form" class="form-inline-my" id="delete-<%= id %>" action="articles/<%= id %>?_method=DELETE" method="post">
  <button id="delete-<%= id %>" class="button-icon" onclick="return confirm('Are you sure?')">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
</form>
