<%- layout('layout/application') -%>

<div class="page-header">
<h1>Blog</h1>
<a href="/articles/new">New article</a>
</div>
<% for(i = 0; i < articles.length; i++) {%>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
        <strong><%= articles[i].title %></strong>
        <span class="panel-buttons">
            <a href="articles/<%=articles[i].id%>/edit"><span class="glyphicon glyphicon-edit"></span></a>
        </span>
    </h3>
  </div>
  <div class="panel-body">
    <div class="article-text"><%= articles[i].text %></div>
  </div>
</div>
<% } %>